* {
    margin: 0;
    padding: 0;
    border-style: none;
}

:root {
    --lightGrey: #ededed;
    --brightBlue: #0099ff;
    --medBlue: #0066cc;
    --darkBlue: #000033;
}

body {
    color: var(--darkBlue);
    /*default color*/
    font-family: 'Montserrat', sans-serif;
    /*default color*/
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    background: var(--darkBlue);
}

h3,
h5 {
    color: var(--lightGrey);
    text-align: center;
}

h5 {
    text-align: left;
}

#h1 {
    font-family: "Frijole", arial black;
    color: var(--brightBlue);
    display: flex;
    justify-content: center;
}

#h1 h1 {
    font-size: 3.5em;
}

#description {
    color: var(--lightGrey);
}

#searchBar,
#submitBtn,
#randomBtn  {
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 30px;
}

#searchBar {
    height: 3em;
    background-color: var(--lightGrey);
}

#submitBtn,
#randomBtn {
    color: var(--darkBlue);
    font-weight: bolder;
}

#submitBtn:hover,
#randomBtn:hover {
    color: var(--lightGrey);
    background-color: var(--brightBlue);
    /* scale: 1.1; */
}

input:focus {
    outline: none;
}

.results-title {
    color: var(--brightBlue);
    text-align: center;
}

/*
card
    card-thumbnail
    card-body
        card-title
        card-text
*/

.card-thumbnail {
    width: 100%;
    height: 19vw;
}

.card {
    border: 2px solid var(--medBlue);
    border-radius: 0.4rem;
}

.card-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-body {
    height: 22vh;
}

.card-title {
    font-weight: 200;
    height: 6vh;
    padding-bottom: 62px;
    border-bottom: 2px solid var(--medBlue);
}

.card-text {
    height: 16vh;
}

.link-btn {
    color: var(--lightGrey);
    background-color: var(--darkBlue);
    position: absolute;
    bottom: 0;
    right: 0;
}

.link-btn:hover {
    color: var(--lightGrey);
    background-color: var(--brightBlue);

    /* border: 4px solid var(--darkBlue); */
}